@import "tailwindcss" ;


.services {
    -ms-overflow-style: none;
}

.services::-webkit-scrollbar {
    display: none;
}


@layer base {
   
    p {
        font-family: "Plus Jakarta Sans", sans-serif;
    }
}


.faq h6,
.ratings h5 {
   font-family: "Almarai", serif;
}


